{% extends "base.html" %}
{% load static %}
{% load consultas_filters %}


{% block 'body' %}
    <div class="relative isolate px-6 py-12 ">
        <svg aria-hidden="true"
             class="absolute inset-0 -z-10 size-full mask-[radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200">
            <defs>
            <pattern id="1d4240dd-898f-445f-932d-e2872fd12de3" width="200" height="200" x="50%" y="0" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
            </pattern>
            </defs>
            <svg x="50%" y="0" class="overflow-visible fill-gray-50">
                <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" fill="url(#1d4240dd-898f-445f-932d-e2872fd12de3)" stroke-width="0" />
        </svg>
        <div aria-hidden="true"
             class="absolute inset-x-0 top-10 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl">
            <div style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"
                 class="aspect-1108/632 w-277 flex-none bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-20"></div>
        </div>
        
        <div class="mx-auto max-w-7xl">
            <h1 class="text-xl font-bold">Referências da pergunta: <span class="font-medium">{{ pergunta }}</span></h1>
            <div class="grid mt-12 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                
                {% for g in gravacoes %}
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm ">
                    <a href="#">
                    <video src="{{ g.video.url }}" controls class="rounded-t-lg w-full">
                    </a>
                    <div class="p-5">
                        
                        <ul class="space-y-4 text-left text-gray-700 ">
                        {% for dt in data_treinamento %}
                            {% if dt.recording.id == g.id %}
                            <li class="bg-slate-100 border border-slate-200 p-4 rounded-md shadow-sm">
                                <div class="flex flex-col">
                                <!-- Badge com tempo -->
                                <span class="self-start mb-2 inline-block rounded-full bg-slate-100 px-2.5 py-0.5 text-xs font-medium text-slate-600">
                                    {{ dt.text|tempo_video:g.id }}
                                </span>
                                <!-- Texto -->
                                <p class="text-sm text-slate-800">
                                    {{ dt.text }}
                                </p>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                            
                        </ul>

                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    
    
{% endblock 'body' %}
